block head
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description' content='' + description + '')
		meta(name='keywords' content='' + keywords + '')
		meta(name='author', content='' + author.name + ', ' + author.location + ', Phone: ' + author.phone + ', Email: ' + author.email + ', Telegram: ' + author.telegram + ', Skype: ' + author.skype + '')
		meta(name='revisit-after' content='' + revisit + '')

		include favicon
		
		title= name

		link(href='/' + cssDist + 'bundle' + suffixCompressed + '.css' rel='stylesheet')

		script(src='/' + jsDist + 'bundle' + suffixCompressed + '.js' defer)
